/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  .hero {
    height: 300px;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0px 0px 20px rgb(0, 34, 79);
    text-decoration: none;
    z-index: 1;
  }

  .hero .hero-text {
    font-size: 3.5em;
    color: black;
    background-color: rgba(255, 255, 255, 0.50);
    width: 100%;
    padding: 10px;
  }

  .lang-toggle {
    height: 100px;
    font-size: 3em;
    padding: 0 20px;
    background-color: rgb(247, 245, 225);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid rgb(139, 139, 139);
    border-bottom: 1px solid rgb(139, 139, 139);
  }

  .meishi {
    width: 100%;
    padding-top: 60%;
    background-color: rgb(247, 245, 225);
    position: relative;
  }

  .meishi .meishi-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .meishi .meishi-pic-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .meishi .meishi-pic {
    background: url('../assets/profile.png') no-repeat center;
    background-color: white;
    background-size: contain;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin: 50px;
    border: 3px solid black;
  }

  .meishi .meishi-name {
    font-size: 3em;
  }

  .meishi .meishi-email,
  .meishi .meishi-github,
  .meishi .meishi-linkedin {
    font-size: 2em;
  }

  .meishi .meishi-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px;
  }

  .meishi .meishi-bio {
    font-size: 2em;
  }

  .meishi .meishi-info-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .meishi .meishi-github {
    background-image: url('../assets/GitHub-Mark/PNG/GitHub-Mark-64px.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    width: 64px;
    padding: 20px;
  }

  .meishi .meishi-linkedin {
    background-image: url('../assets/linkedin_brand_package/LinkedIn [in]/Screen/2-Color/In-2C-66px-R.png');
    /* background-size: ; */
    background-repeat: no-repeat;
    background-position: center;
    height: 66px;
    width: 66px;
    padding: 20px;
  }

  .meishi .meishi-lang {
    width: 100%;
    padding-right: 20px;
    text-align: center;
    font-size: 3em;
  }

  .article {
    padding: 50px 20px;
  }

  .article-img {
    width: 100%;
  }

  .article-card {
    padding: 50px 20px;
    border-bottom: 1px solid rgb(0, 34, 79);
  }

  .article-card-header {
    font-size: 2em;
    padding: 5px 0;
  }

  .article-card-date {
    font-size: 0.85em;
    text-align: right;
  }

  .article-card-preview {
    font-size: 0.85em;
  }

  .article-card-readmore {
    font-size: 0.85em;
    width: 100%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
  /* .hero {
    height: 500px;
    align-items: flex-end;
  }

  .hero .hero-text {
    font-size: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.50);
    width: 100%;
    padding: 10px;
  } */

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
  /* .hero {
    height: 400px;
    align-items: flex-end;
  } */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
  /* .hero {
    height: 400px;
    align-items: flex-end;
  } */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
  /* .hero {
    height: 400px;
    align-items: flex-end;
  } */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
  .hero {
    height: 400px;
    align-items: flex-end;
    box-shadow: 0px 0px 20px rgb(0, 34, 79);
    text-decoration: none;
    position: relative;
    z-index: 2;
  }

  .hero .hero-text {
    padding: 15px 15px 15px 30px;
    margin: 15px 0;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
  }

  .lang-toggle {
    display: none;
  }

  .container {
    padding-left: 300px;
    padding-right: 300px;
    position: relative;
  }

  .meishi {
    width: 300px;
    padding-top: 0;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .meishi .meishi-container {
    position: static;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    border: 0;
  }

  .meishi .meishi-pic-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .meishi .meishi-pic {
    background: url('../assets/profile.png') no-repeat center;
    background-color: white;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 25px;
    border: 3px solid black;
  }

  .meishi .meishi-name {
    font-size: 30px;
  }

  .meishi .meishi-email,
  .meishi .meishi-github,
  .meishi .meishi-linkedin {
    font-size: 20px;
  }

  .meishi .meishi-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px;
  }

  .meishi .meishi-bio {
    font-size: 18px;
  }

  .meishi .meishi-info-group {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }

  .meishi .meishi-github {
    background-image: url('../assets/GitHub-Mark/PNG/GitHub-Mark-64px.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    padding: 0px;
    margin: 5px;
  }

  .meishi .meishi-linkedin {
    background-image: url('../assets/linkedin_brand_package/LinkedIn [in]/Screen/2-Color/In-2C-66px-R.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    padding: 0px;
    margin: 5px;
  }

  .meishi .meishi-lang {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(84, 189, 212);
  }

  .article {
    padding-top: 50px;
  }

  .article-img {
    width: 80%;
  }

  .article-card {
    padding: 50px 40px;
    border-bottom: 1px solid rgb(55, 100, 159);
    display: flex;
    flex-direction: column;
  }

  .article-card-header {
    font-size: 30px;
    padding: 20px 0;
  }

  .article-card-header:hover {
    text-decoration: underline;
  }

  .article-card-date {
    font-size: 16px;
    text-align: left;
  }

  .article-card-preview {
    font-size: 20px;
  }

  .article-card-readmore {
    font-size: 20px;
    width: 100%;
    text-align: right;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
